PORT=3000
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.zpldizzgepgcdfnnfizv.supabase.co:5432/postgres
SUPABASE_URL=https://zpldizzgepgcdfnnfizv.supabase.co
SUPABASE_ANON_KEY=sb_publishable_v1S2uQCemPouddTjKXN2DA_j_VeJL7w
NODE_ENV=development
